<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/food-beverage/2a.jpg" alt="Random first slide">
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/food-beverage/3a.jpg" alt="Random second slide">
        </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/food-beverage/1a.jpg" alt="Random third slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/food-beverage/4a.jpg" alt="Random fourth slide">
        </div>
      </ng-template>
</ngb-carousel>

<br> <br>

<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <h4 class="mat-subheading-3">
            Văn hóa ẩm thực
        </h4>
    </div>

    <div>
        <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
            Đến với vùng đất biển xanh, cát trắng và nắng vàng của Quy Nhơn, 
            bạn không chỉ được chiêm ngưỡng khung cảnh nên thơ, được chăm sóc 
            bởi những cánh sóng dào dạt mà còn được hòa mình vào những lễ hội nổi tiếng 
            thu hút lượng du khách lớn mỗi năm. Đặc biệt, bạn còn được 
            trải nghiệm nét văn hóa ẩm thực đặc trưng vô cùng thú vị ở nơi đây.
        </p>
    </div>

    <div>
        <img src="../../assets/images/logo_flc.png">
    </div>

    <div>
        <h4 class="text-contact-us">
            Contact Us
        </h4>
    </div>

    <div>
        <p class="contact">
            ADDRESS: Khu 4, Cát Tiến, Thành phố Quy Nhơn, Bình Định - Việt Nam
            <br>
            PHONE: (+84.23) 456 7911
            <br>
            FAX: (+84.23) 392 7129
            <br>
            E-MAIL: reservation@flcquynhon.com.vn
            <br>
        </p>
    </div>

    <div>
        <p class="copyright">
            © FLC Quy Nhon Beach & Golf Resort 2021
        </p>
    </div>
</div>
