<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Đặt ngay 
            </button>
        </div>
    </div>
    
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-3">
            FLC QUY NHON
        </h1>    
        <h1 class="mat-display-4">
            Beach &amp; Golf Resort
        </h1>            
    </div>
</div>
 
<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subheading-2">
                Bình Định, Việt Nam
            </h2>
        </div>

        <div>
            <h4 class="mat-subheading-3">
                Bãi biển Quy Nhơn
            </h4>
        </div>

        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                is lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>

    <div class="rooms-golf-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h4 class="text">
                    Rooms &amp; Suites
                </h4>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Tìm hiểu thêm 
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="golf" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h4 class="text">
                    Golf 
                </h4>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Tìm hiểu thêm 
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>

<div>
    <p class="copyright">
        © FLC Quy Nhon Beach & Golf Resort 2021
    </p>
</div>