<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/celebrations/1a.jpg" alt="Random first slide">
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/celebrations/2a.jpg" alt="Random second slide">
        </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/celebrations/3a.jpg" alt="Random third slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/celebrations/4a.jpg" alt="Random fourth slide">
        </div>
      </ng-template>
</ngb-carousel>

<br> <br>

<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <h4 class="mat-subheading-3">
            Tiệc kỉ niệm
        </h4>
    </div>

    <div>
        <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
            Đến với vùng đất biển xanh, cát trắng và nắng vàng của Quy Nhơn, 
            ngoài việc nghỉ dưỡng với những dịch vụ đẳng cấp nhất, quý vị có thể 
            tổ chức cho mình những buổi lễ, dạ tiệc kỉ niệm dấu mốc quan trọng 
            của bản thân tại FLC Quy Nhơn Beach & Golf Resort chúng tôi. Luôn hân hạnh
            đồng hành cùng quý khách với những dịch vụ tuyệt vời nhất.
        </p>
    </div>

    <div>
        <img src="../../assets/images/logo_flc.png">
    </div>

    <div>
        <h4 class="text-contact-us">
            Contact Us
        </h4>
    </div>

    <div>
        <p class="contact">
            ADDRESS: Khu 4, Cát Tiến, Thành phố Quy Nhơn, Bình Định - Việt Nam
            <br>
            PHONE: (+84.23) 456 7911
            <br>
            FAX: (+84.23) 392 7129
            <br>
            E-MAIL: reservation@flcquynhon.com.vn
            <br>
        </p>
    </div>

    <div>
        <p class="copyright">
            © FLC Quy Nhon Beach & Golf Resort 2021
        </p>
    </div>
</div>
