<div class="offers-container">
    <br> 

    <div class="datepicker-container">
        <div class="datepicker">
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <div class="datepickerrange">
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
            </div>
        </div>
    </div>
         
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <img src="../../assets/images/logo_flc.png">
        </div>
    
        <div>
            <h4 class="text-contact-us" style="color: cornsilk;">
                Contact Us
            </h4>
        </div>
    
        <div>
            <p class="contact" style="color: cornsilk;">
                ADDRESS: Khu 4, Cát Tiến, Thành phố Quy Nhơn, Bình Định - Việt Nam
                <br>
                PHONE: (+84.23) 456 7911
                <br>
                FAX: (+84.23) 392 7129
                <br>
                E-MAIL: reservation@flcquynhon.com.vn
                <br>
            </p>
        </div>
    </div>
    
    <br> <br> 
    
    <div>
        <p class="copyright" style="color: cornsilk;">
            © FLC Quy Nhon Beach & Golf Resort 2021
        </p>
    </div>

    <br> <br>
</div>