<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <img src="../../assets/images/logo_flc.png">
    </div>

    <div>
        <h4 class="text-contact-us">
            Contact Us
        </h4>
    </div>

    <div>
        <p class="contact">
            ADDRESS: Khu 4, Cát Tiến, Thành phố Quy Nhơn, Bình Định - Việt Nam
            <br>
            PHONE: (+84.23) 456 7911
            <br>
            FAX: (+84.23) 392 7129
            <br>
            E-MAIL: reservation@flcquynhon.com.vn
            <br>
        </p>
    </div>
</div>

<br> <br> 

<div>
    <p class="copyright">
        © FLC Quy Nhon Beach & Golf Resort 2021
    </p>
</div>